body {
    background-color: black;
    color: white;
}

.col {
    border: 1px solid purple;
    margin: 1px;
    padding: 1px;
}



#hoverNote {
    position: absolute;
    bottom: 0;
}

.numDiv {
    display: inline-block;
}

.flashCard {
    display: inline-block;
}

#removeButton {
    
}
