<!DOCTYPE html>
<html>

<head>
    <!-- include our dependency on angular -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta charset="utf-8">
    <title>Flashcards</title>
</head>

<body>
    <div ng-app='app' ng-controller='mainCtrl'>

        <!-- Page Title -->
        <div class="text-center">
            <h1>Create Flashcard</h1>
            <br>
        </div>

        <div class="container">
            <div class="row">

                <!-- 1st Column: Card List & Card Removal buttons -->
                <div class="col">
                    <ul class='Card-list'>
                        <li ng-repeat='card in cards'>
                            <fc card='card'>
                        </li>
                    </ul>
                </div>

                <!-- 2nd Column: New Card Form & Start Quiz Button -->
                <div class="col">
                    <div class='top-panel'>
                        <form name='cardForm' ng-submit='addNew(cardForm)'>
                            <input placeholder='Front' style="width: 100%;" ng-model='cardForm.front' />
                            <br>
                            <br>
                            <textarea name="textArea" style="width: 100%; height: 200px;" placeholder='Back' ng-model='cardForm.back'></textarea>
                            <br>
                            <button type='submit'>Add New</button>
                        </form>
                    </div>
                </div>

                <!-- 3rd Column: Number of Cards & Quiz -->
                <div class="col">
                    <div>Card Number
                        <div id="numberCards"></div>
                    </div>
                     
                      <fc card='cards[0]'></fc>
                </div>


            </div>

        </div>

    </div>
</body>

</html>
